* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    color: #ffffff;
}

.login-container {
    background-color: #1e1e1e;
    padding: 30px;
    width: 350px;

    border-radius: 12px;
}
.register-container {
    background-color: #1e1e1e;
    padding: 30px;
    width: 450px;
    max-width: 100%;
    border-radius: 12px;
}
h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #ffffff;
}

.input-group {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #bdbdbd;
}

input {
    width: 100%;
    padding: 12px;

    background-color: #2b2b2b;
    color: #ffffff;

    border: 1px solid #444;
    border-radius: 6px;

    outline: none;
    transition: border-color 0.2s;
}

input:focus {
    border-color: #f7d82a;
}

input::placeholder {
    color: #888;
}

button {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 6px;

    background-color: #e02323;
    color: white;

    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

    transition: background-color 0.2s;
}

button:hover {
    background-color: #750505;
}

#message {
    margin-top: 18px;
    text-align: center;
}
.actions {
    margin-top: 10px;
}

#registerBtn,
#backBtn, #btnDelete {
    margin-top: 10px;
    background-color: #333;
}
#btnDelete:hover {
    background-color: #750505;
}
#registerBtn:hover,
#backBtn:hover {
    background-color: #444;
}
.top-bar{
    position: fixed;
    top: 15px;
    right: 20px;
}